public-hoist-pattern[]=*core-js*
public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*@arco-design*
public-hoist-pattern[]=*rc-*
public-hoist-pattern[]=*tinycolor2*
public-hoist-pattern[]=*async-validator*
