@import './assets/css/var.less';
@import './assets/css/mixins.less';
@import './assets/css/normalize.less';
// @import './assets/css/themes/dark.less';

html,
body {
  font-family: @font-family;
  font-size: @font-size-md;
  color: @text-color;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
